<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.category %></h3>
<hr>
<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Phone:</strong> <%= @restaurant.phone_number %></p>

<h3>Reviews</h3>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <i class="btn btn-info btn-sm"><%= review.rating %></i>
      <%= review.content %>
      <%= link_to 'Delete review',  review_path(review), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm"%>
    </li>
  <% end %>
</ul>
<hr>
<%= link_to 'Back', restaurants_path, class: "btn btn-primary" %>
<%= link_to 'Add review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<%= link_to 'Delete restaurant', restaurant_path(@restaurant), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>